@import url(https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise);

body {
  background: url(http://static.asiawebdirect.com/m/phuket/portals/phuket-com/homepage/phuket-magazine/freedom-beach/pagePropertiesImage/freedom-beach.jpg) fixed no-repeat center center ;
  background-size: cover;
  text-align: center;
  margin: -17px 0 0 0;
  color: yellow;
}

h1 {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 5em;
  margin: 0;
}

p {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 25px;
  margin: 0;
}

article{
	display:inline-block;
}


div {
  padding: 3.5em;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  
}

button {
  display: inline-block;
  padding: 1rem 2rem 1rem;
  font-size: 20px;
  border-radius: 5px;
}

#red {
  color: red;
  font-weight: bolder;
}

#green {
  color: #00FF00;
  font-weight: bolder;
}

#doubleClick {
  font-weight: bolder;
  text-decoration: underline;
}

#first, #second {
  border-right: 4px solid yellow;
}

#second, #third {
  margin-left: -3.9px;
}

#div1, #div2, #div3, #div4, #div5, #div6{
  border-bottom: 4px solid yellow;
}
